.main {
  padding-top: 3.3rem;
  background-color: #000;
}

.main__title {
  font-family: OpenEB;
  font-size: pxToRem(14px);
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2.6rem;
  text-align: center;
}

.plashka {
  position: relative;
  font-family: GothaB;
  font-size: pxToRem(70px);
  color: #fff;
  text-transform: uppercase;
  width: pxToRem(211px);
  margin: auto;
  padding: 1.6rem 0 1.9rem 0;
  text-align: center;
  outline: 1px solid #fff;
  z-index: 0;
  margin-bottom: 3.6rem;
  span {
    display: block;
  }
  .plashka__text {
    font-size: pxToRem(35px);
  }
  .plashka__number {
    margin-bottom: .3rem;
  }
  &::before {
    display: block;
    content: "";
    width: pxToRem(228px);
    height: pxToRem(185px);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #feaa1d;
    z-index: -1;
  }
  &::after {
    display: block;
    content: "";
    width: pxToRem(230px);
    height: pxToRem(183px);
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #fc233a;
    z-index: -1;
    box-shadow: 5px 5px 9px 0 rgba(0,0,0,.7);
  }
}

.main__paragraph {
  font-family: RobotoR;
  font-size: 1rem;
  color: #fff;
  line-height: pxToRem(26px);
  letter-spacing: .3px;
  width: pxToRem(240px);
  margin: auto;
  margin-bottom: 1.6rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .main {
    padding-top: 4.2rem;
  }

  .main__title {
    font-size: pxToRem(30px);
    letter-spacing: .3px;
    margin-bottom: 3.4rem;
  }

  .plashka {
    width: pxToRem(580px);
    margin-bottom: 4.4rem;
    padding: 0.8rem 0 0 0;
    height: pxToRem(161px);
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      display: inline-block;
    }
    .plashka__text {
      font-size: pxToRem(60px);
      margin-left: 1rem;
    }

    .plashka__number {
      font-size: pxToRem(100px);
    }
    &::before {
      width: pxToRem(612px);
      height: pxToRem(190px);
    }
    &::after {
      width: pxToRem(610px);
    }
  }

  .main__paragraph {
    font-size: pxToRem(22px);
    width: 38.7rem;
    line-height: pxToRem(34px);
    letter-spacing: .5px;
    margin-bottom: 2.1rem;
  }
}

@media (min-width: 1200px) {
  .main {
    padding-top: 5.6rem;
  }

  .main__title {
    font-size: pxToRem(40px);
    text-align: left;
    margin-bottom: 4.8rem;
  }

  .plashka {
    width: pxToRem(966px);
    height: pxToRem(250px);
    margin-bottom: 6.6rem;
    .plashka__text {
      font-size: pxToRem(110px);
    }
    .plashka__number {
      font-size: pxToRem(150px);
    }
    &::before {
      width: 62.55rem;
      height: 17.575rem;
    }
    &::after {
      width: 62.325rem;
      height: pxToRem(279px);
    }
  }

  .main__paragraph {
    font-size: pxToRem(30px);
    width: auto;
    line-height: pxToRem(46px);
    margin-bottom: 2.7rem;
  }
}
