@font-face {
  font-family: RobotoR;
  src: url('fonts/roboto-regular.woff') format("woff"),
       url('fonts/roboto-regular.woff2') format("woff2");
}

@font-face {
  font-family: RobotoT;
  src: url('fonts/Roboto-Thin.woff') format("woff"),
       url('fonts/Roboto-Thin.woff2') format("woff2");
}

@font-face {
  font-family: RobotoB;
  src: url('fonts/Roboto-Black.woff') format("woff"),
       url('fonts/Roboto-Black.woff2') format("woff2");
}

@font-face {
  font-family: OpenEB;
  src: url('fonts/OpenSans-ExtraBold.woff') format("woff"),
       url('fonts/OpenSans-ExtraBold.woff2') format("woff2");
}

@font-face {
  font-family: GothaB;
  src: url('fonts/GothamPro-Bold.woff') format("woff"),
       url('fonts/GothamPro-Bold.woff2') format("woff2");
}
